body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-section {
    background-color: #1F2937;
    padding: 20px 120px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header-links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.header-main {
    display: flex;
    margin-top: 100px;
    margin-bottom: 80px;
    gap: 50px;
}
.main-left {
    flex: 1;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.main-left p {
    font-size: 18px;
    color: #E5E7EB;
}
.main-right {
    flex: 1;
    background-color: grey;
    color: white;
    text-align: center;
}

.info-section {
    padding: 40px 120px;
    text-align: center;
}
.info-header {
    margin-bottom: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.info-main {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.case {
    max-width: 200px;
}
.case img {
    border: #1F2937 solid;
    height: 180px;
    width: 180px;
}
.case p {
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 240px;
}
.quote-content {
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.quote-author {
    text-align: end;
    font-size: 24px;
    font-weight: 600;
}